/*======================
   01. Google fonts
========================*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

/*======================
   02. Basic css
========================*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	line-height: 26px;
	background: blue;
	color: #000000;
	font-family: 'Manrope', sans-serif;
}

ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

/*font-family: 'Barlow', sans-serif;*/

.card_wrapper {
	padding: 80px 0;
	background: linear-gradient(278.54deg, #001DAC 15.93%, #000F57 98.7%);	
	height: 100vh;
	display: flex;
	align-items: center;
}

.head_text {
	font-size: 45px;
	font-weight: 700;
	color: #ffffff;
	font-family: 'Barlow', sans-serif;
}

.card_box {
	border-radius: 10px;
	background: #ffffff;
	padding-bottom: 30px;
	text-align: center;
	overflow: hidden;
	transition: .3s;
	position: relative;
	margin-top: 45px;
}

.card_box::before {
	content: "";
	top: 0;
	left: 0;
	background: linear-gradient(96.49deg, #F16262 0%, #3200FF 102.71%);
}

.card-main-image {
	max-width: 100%;
	max-height: 100%;
}

.img_box {
	width: 262px;
	height: 180px;
	margin: 0 auto;
	z-index: 1;
	position: relative;
}

.text_box h4 {
	font-family: 'Barlow', sans-serif;
	color: #000000;
	font-size: 24px;
	font-weight: 700;
	margin: 30px 0 5px 0;
}

.text_box p {
	font-weight: 600;
	color: #000000;
	font-size: 15px;
}

.card_social li {
	display: inline-block;
}

.card_social li a {
	width: 35px;
	height: 35px;
	background: linear-gradient(96.49deg, #F16262 0%, #3200FF 102.71%);
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	font-size: 14px;
	margin: 25px 5px 0 5px;
	color: #ffffff;
	transition: .3s;
}

.card_social li a:hover {
	background: linear-gradient(96.49deg, #3200FF 0%, #F16262 102.71%);
}

.card_carousel .owl-nav {
    position: absolute;
    top: -8%;
    right: 0;
}

.card_carousel .owl-prev, .card_carousel .owl-next {
	width: 40px;
	height: 40px;
	background: #ffffff;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	margin: 0 5px;
	font-size: 18px;
}
